.contact {
    width: 100%;
    height: 40vh;
    background: #ff7d7d;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}

.contact-container {
    width: 580px;

    background: white;
    margin-left: auto;
    margin-right: auto;

    padding: 40px 60px;
}

.contact h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.contact p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.contact-details {
    text-align: left;
}

.contact-details p {
    margin: 0;
}
